{% assign career-profile = site.data.data.career-profile %}
{% if career-profile %}
<section class="section summary-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-user fa-stack-1x fa-inverse"></i>
    </span>
    {{ career-profile.title }}
  </h2>

  <div class="summary">
    <p>I am a french computer science student.</p>
    <p>My <b>studies</b> are focused on <b>3D programming and simulations</b>, from the low-level libraries like OpenGL or Vulkan, to the high-level game engines like Unity or Unreal Engine</p>
    <p>Through various <b>internships and apprenticeships</b>, I learnt about <b>back-end web development</b>, from the traditional e-commerce website with PHP, to the highly distributed, concurrent and parallel web application with Erlang and Elixir.</p>
    <p>While I am a polyvalent programmer, <b>Game engines, Graphics programming and programming language theory</b> are of particular interest for me, and my <b>personal projects</b> are centered around those domains.</p>

  </div><!--//summary-->
    
</section><!--//section-->
{% endif %}
