{% assign career-profile = site.data.data.career-profile %}
{% if career-profile %}
<section class="section summary-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-user fa-stack-1x fa-inverse"></i>
    </span>
    {{ career-profile.title }}
  </h2>

  <div class="summary">
    <p>I am a French Web and 3D programmer.</p>
    <p>My <b>studies and personal projects</b> are centered around the development of game engines, 3D graphics software and programming language theory.</p>
    <p>My <b>professional experience</b> is about the development of website backends and internal web tools.</p>
  </div><!--//summary-->
    
</section><!--//section-->
{% endif %}
