{% assign career-profile = site.data.data.career-profile %}
{% if career-profile %}
<section class="section summary-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-user fa-stack-1x fa-inverse"></i>
    </span>
    {{ career-profile.title }}
  </h2>

  <div class="summary">
    <p>I am a french web developer.</p>
    <p>Most of my experience lies in the <b>back-end</b> side of web development, be it in <b>PHP</b>, <b>C#</b> or <b>Elixir</b>, with some experience with the <b>ReactJS</b>
      framework for the <b>front-end</b> side.</p>
    <p>I also study game engines and interesting computer science subjects, mostly related to programming languages, on my spare time.</p>
  </div><!--//summary-->
    
</section><!--//section-->
{% endif %}
